.footer {
    padding: 20px;
    background-color: #000000;
    color: white;
    text-align: center;
  }
  
  .footer .social-links {
    margin-top: 10px;
  }
  
  .footer .social-links a {
    margin: 0 10px;
    color: white;
    text-decoration: none;
  }
  
  .footer .social-links a:hover {
    text-decoration: underline;
  }
  